<app-registr (showlog)="showlogin($event)" [showreg]="sowreg" (showregChange)="shangeshowReg($event)"></app-registr>
<app-login   (userId)="userLogin($event)" [showlog]="showlog" (showtodonew)="showtodos($event)" (showlogChange)="logstatus($event)" [todoarrayChange]="todos" (todoarray)="changetodoarrat($event)" ></app-login>
<app-todo   [userid]="userid" [showtodo]="showtodo" (useridchange)="userIdChange($event)" (showreg)="userregi($event)" (showtodoChange)="todostatus($event)" [tod]="todos" (showtodoChange)="changetodoarrat($event)"></app-todo>
<!-- [todoarrayChange]="todos" (todoarray)="changetodoarrat($event)" login-->
<!-- [tod]="todos" (showtodoChange)="changetodoarrat($event)" todoss -->
